@font-face {
  font-family: pixel;
  src: url("./assets/font/upheavtt.ttf");
}

@font-face {
  font-family: pixel2;
  src: url("./assets/font/VCR_OSD_MONO_1.001.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: alicebluew;
  font-family: pixel;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  font-size: 30px;
}

main {
  flex: 1;
  display: flex;
}

#gameCanvas {
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
